html {
    height: 100%;
}

body {
    height: 100%;
    width: 100%;
    margin: 0 auto;
    background-image: url(../images/crystals1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    font-size: 48px;
}

.container {
    text-align: center;
}

.crystal {
    padding: 10px;
    margin: 10px;
}

.yourNum {
    font-size: 28px;
}